{% extends 'admin/base_template.html' %}

{% block body %}


<div ng-app="AcceptanceApp" ng-controller="MainCtrl" ng-cloak>

{#        <div>#}
{#            <button class="btn btn-default" ng-click="checkPost($event)" data-loading-text="Идет проверка...">Проверить почту</button>#}
{#            <button class="btn btn-default" ng-click="goToPrice()" ng-disabled="!model.idSelected">Обработать</button>#}
{#        </div>#}
{#        <br/>#}

        <a class="btn btn-danger" href="{{ url_back }}">Назад</a><br/>

        <div class="alert alert-danger" role="alert" ng-show="model.validate.is_error">
            <strong>Внимание!</strong>
            <p>Выберите приемку.</p>
        </div>

        <br/>

        <div class="panel panel-default">

            <div class="panel-heading">
                <button type="button" class="btn btn-primary" ng-click="nextStep()"
                        ng-disabled="!model.idSelected">Далее</button>
            </div>

            <div class="panel-body">
                <h4>Выберите приемку</h4>
                <div>
                  <table ng-cloak ng-table="tableParams" show-filter="true" class="table table-bordered table-hover">
                    <tbody>
                      <tr ng-repeat="item in model.items"
                              ng-click="setSelected(item)"
                              ng-class="{'active': item.id == model.idSelected}">
                        <td data-title="'Дата'" sortable="'date'">
                                <p ng-if="item.id == model.idSelected"><strong>{{item.date|angular}}</strong></p>
                                <p ng-if="item.id != model.idSelected">{{item.date|angular}}</p>
        {#                        {{item.date|angular}}#}
                            </td>
                        <td data-title="'Накладная'" sortable="'title'" filter="{ 'title': 'text' }">
                                <p ng-if="item.id == model.idSelected"><strong>{{item.invoice_str|angular}}</strong></p>
                                <p ng-if="item.id != model.idSelected">{{item.invoice_str|angular}}</p>
        {#                        {{item.title|angular}}#}
                            </td>
                        <td data-title="'Поставщик'" sortable="'from'">
                                <p ng-if="item.id == model.idSelected"><strong>{{item.provider_name|angular}}</strong></p>
                                <p ng-if="item.id != model.idSelected">{{item.provider_name|angular}}</p>
        {#                        {{ item.from|angular }}#}
                            </td>
{#                        <td data-title="'Почтовый ящик'" sortable="'from'">#}
{#                                <p ng-if="item.id == model.idSelected"><strong>{{item.from|angular}}</strong></p>#}
{#                                <p ng-if="item.id != model.idSelected">{{item.from|angular}}</p>#}
        {#                        {{ item.from|angular }}#}
{#                            </td>#}
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>


        </div>



    </div>

{% endblock %}

{% block tail %}

    {{ super() }}

    <script type="text/javascript">
        var path_to_acceptance = '{{ url_to_acceptance }}';
    </script>

    {% assets "ng-table-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "ng-table-js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "acceptance" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}