{% extends 'admin/master.html' %}

{% block body %}
    <div>
        <button id="btn-chk-mail" class="btn btn-default">Проверить почту</button>
        <button id="btn_handle" class="btn btn-default" disabled="disabled">Обработать</button>
    </div>

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Дата и время</th>
                <th>Заголовок</th>
                <th>Отправитель</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block tail %}

    <script type="text/javascript">
        var path_to_invoice = "{{ url_for('.prices', invoice_id='') }}";
        console.log(path_to_invoice);
    </script>

    {% assets "DT_JS" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "DT_CSS" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}