{% extends 'admin/base_template.html' %}

{% block body %}

    <ul class="nav nav-pills">
        <a class="btn btn-primary" href="{{ url_prices }}">Назад</a>
    </ul>
    <br/>

    <div class="alert alert-warning" role="alert">
        <strong>Внимание!</strong><br/>
        Позиции с вычеркнутыми названиями не попадут в накладную.
    </div>

    <div ng-app="myApp" ng-controller="MainCtrl" ng-cloak>

        <div ng-show="model.is_save" class="alert alert-success" role="alert">
            <strong>Замечательно!</strong><br/>Накладная сохранена. Перейдите по этой
            <a target="_self" href="{{ model.url_to_download|angular }}" class="alert-link">ссылке</a> для скачивания.
        </div>

        <div ng-show="model.is_error" class="alert alert-danger" role="alert">
            <strong>Ошибка!</strong><br/>Накладная не сохранена.
            {{ model.message_error|angular }}
        </div>

        <h3>Товары:</h3>

        <div class="btn-group">
            <button class="btn btn-primary" ng-click="openToAdd()">Добавить</button>
            <button class="btn btn-primary" ng-click="saveAndPrint()">Сохранить и печатать</button>
        </div>


        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена розницы (руб.)</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in model.items">

                    <td >
                        {{ '$index + 1'|angular }}
                    </td>

                    <td >
                        <del ng-if="!item.is_approve">
                            {{ item.full_name|angular }}
                        </del>
                        <span ng-if="item.is_approve">
                            {{ item.full_name|angular }}
                        </span>

                    </td>
                    <td >
                        {{ item.count|angular }}
                    </td>
                    <td >
                        {{ item.price_retail|angular}}
                    </td>

                    <td>
                        <span ng-hide="item.is_approve"><button ng-disabled="!item.price_retail" class="btn btn-success btn-block btn-sm" ng-click="addToInvoice(item)">Добавить</button></span>

                        <span ng-hide="!item.is_approve"><button class="btn btn-danger btn-block btn-sm" ng-click="removeFromInvoice(item)">Убрать</button></span>
                    </td>

                </tr>

            </tbody>
        </table>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Добавление товара в розничную накладную</h3>
            </div>
            <div class="modal-body">
                <p>Выбран: {{person.selected|angular}}</p>
                <ui-select ng-model="model.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                    <ui-select-match placeholder="Выберите товар или поищите его...">
                        {{'$select.selected.name'|angular}}
                    </ui-select-match>
                    <ui-select-choices repeat="commodity in model.commodity_items | propsFilter: {name: $select.search, price_retail: $select.search}">
                        <div ng-bind-html="commodity.name | highlight: $select.search"></div>
                        <small>
                            Цена розницы: <span ng-bind-html="''+commodity.price_retail | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </div>



{% endblock %}

{% block tail %}

    {{ super() }}

    <script type="text/javascript">
        var INVOICE_ID = {{ invoice_id }};
    </script>

    {% assets "invoice_retail" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{#    {% assets "css_all" %}#}
{#        <link rel="stylesheet" href="{{ ASSET_URL }}" />#}
{#    {% endassets %}#}
{#    {% assets "select-css" %}#}
{#        <link rel="stylesheet" href="{{ ASSET_URL }}" />#}
{#    {% endassets %}#}
{##}
{#    {% assets "underscore" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}
{##}
{#    {% assets "angularjs" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}
{##}
{#    {% assets "angularjs-ui-bootstrap" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}
{##}
{#    {% assets "bootbox" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}
{##}
{#    {% assets "select-js" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}
{##}
{#    {% assets "invoice_retail" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}

{% endblock %}