{% extends 'admin/master.html' %}

{% block body %}
    <a class="btn btn-primary" href="{{ url }}">Назад</a>

    <h3 class="text-right">{{ date.strftime('%d.%m.%Y') }}</h3>

    <form action="/blabla" method="POST">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Цена продажи</th>
                    <th>Статус</th>
                </tr>
            </thead>

            <tbody>
                {% for item in invoice_items %}

                        <input type="hidden" name="invoice-item-id-{{ loop.index }}" value="{{ item.id }}">
                        <tr id="row-item-{{ loop.index }}">
                            <td>
                                {{ item.full_name }}
                            </td>
                            <td>
                                {{ item.count }}
                            </td>
                            <td>
                                {{ item.price_with_NDS }}
                            </td>
                            <td>
                                <input id="price-pay-item-{{ loop.index }}" name="price-pay-item-{{ loop.index }}" class="input-medium" type="text" placeholder="Цена" value="">
                            </td>
                            <td>
                                <i id="icon-remove-{{ loop.index }}" class="icon-remove" onclick="disableRow('{{ loop.index }}')"></i>
                                <i id="icon-plus-{{ loop.index }}" class="icon-plus hidden" onclick="enableRow('{{ loop.index }}')"></i>
                            </td>

                        </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn">Submit</button>
    </form>


{% endblock %}

{% block tail %}

        {% assets "invoice" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

{% endblock %}