{% extends 'admin/master.html' %}

{% block body %}

    <div class="alert alert-warning" role="alert">
      <strong>Внимание!</strong><br/>
      Позиции обозначенные красным цветом не попадут в накладную.
    </div>

    <div ng-app="myApp" ng-controller="MainCtrl">
        <h3>Товары:</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Цена розницы (руб.)</th>
                    <th>Действия</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in model.items">

                    <td ng-class="{danger: !item.is_approve}">

                        {{ item.full_name|angular }}
                    </td>
                    <td ng-class="{danger: !item.is_approve}">
                        {{ item.count|angular }}
                    </td>
                    <td ng-class="{danger: !item.is_approve}">
                        {{ item.price_retail|angular}}
                    </td>

                    <td>
{#                        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover"#}
{#                                title="Popover title"#}
{#                                data-content="And here's some amazing content. It's very engaging. Right?">#}
{#                            Click to toggle popover#}
{#                        </button>#}
                        <span ng-hide="item.is_approve"><button class="btn btn-success btn-block btn-sm" ng-click="addToInvoice(item)">Добавить</button></span>

                        <span ng-hide="!item.is_approve"><button class="btn btn-danger btn-block btn-sm" ng-click="removeFromInvoice(item)">Убрать</button></span>
                    </td>

                </tr>

            </tbody>
        </table>

        <button ng-click="open()">Click</button>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </div>



{% endblock %}

{% block tail %}

    <script type="text/javascript">
        var INVOICE_ID = {{ invoice_id }};
    </script>

    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{#    {% assets "bootstrap-js" %}#}
{#        <script type="text/javascript" src="{{ ASSET_URL }}"></script>#}
{#    {% endassets %}#}

    {% assets "angularjs" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "angularjs-ui-bootstrap" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "bootbox" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}



{#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>#}
    {% assets "invoice_retail" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}