{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_css %}
    {% assets 'bootstrap-css' %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

    {% assets 'font-awesome-css' %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

    {% assets 'selectize-css' %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

{% endblock %}



{% block head_tail %}
    {{ super() }}
    {% assets "custom_dash" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}
{% endblock %}

{% block page_body %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ admin_view.admin.name }}</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-nav navbar-top-links navbar-right">
                <li class="dropdown">
                    {% block access_control %}
                        {% if current_user.is_authenticated() %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ current_user.login }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="{{ url_for('admin.logout_view') }}">
                                        <i class="fa fa-sign-out fa-fw"></i>
                                        Выход
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav">
                    <ul class="nav" id="sidemenu">
                        {{ layout.menu() }}
                        {{ layout.menu_links() }}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
{#                <div class="row">#}
{#                    <div class="col-lg-12">#}
{#                        {% block brand %}#}
{#                            <h1 class="page-header" >#}
{#                                {{ admin_view.name|capitalize }}#}
{#                            </h1>#}
{#                        {% endblock %}#}
{#                        {{ layout.messages() }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="container">#}

                    {% block body %}{% endblock %}
{#                </div>#}
        </div>
    </div>
{% endblock %}

{% block tail %}
    {{ super() }}

    {% assets 'metisMenu_css' %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

    {% assets 'metisMenu_js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
{#    debugger#}
        $(function() {

            $('#sidemenu').metisMenu();

        });
    </script>
{% endblock %}