{% extends 'admin/base_template.html' %}

{% block body %}
    <ul class="nav nav-pills">
            <a class="btn btn-primary" href="{{ url_back }}">Назад</a>
        <div class="pull-right">
            <a class="btn btn-primary" href="{{ url_retail }}">Розничная накладная</a>
            <a class="btn btn-primary" href="{{ url_gross }}">Оптовая накладная</a>
        </div>

    </ul>

    <div ng-app="PriceApp" ng-controller="PriceController" ng-cloak>

        <div ng-show="model.is_success" class="alert alert-success" role="alert">
            <strong>Замечательно!</strong> Цены сохранены. Можно переходить к следующему пункту.
        </div>

        <div ng-show="model.is_error" class="alert alert-danger" role="alert">
            <strong>Ошибка!</strong> Цены не сохранились. Попробуйте снова, или обратитесь в службу поддержки.
        </div>

        <div ng-show="model.is_change" class="alert alert-warning" role="alert">
            <h4>Внимание!</h4>
            В этой накладной были изменены цена на некоторые товары. Обратите внимание на позиции обозначенные желтым цветом.
        </div>

        <h3 class="text-right">{{ date.strftime('%d.%m.%Y') }}</h3>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>НДС (%)</th>
                        <th>Цена (руб.)</th>
                        <th>Цена с НДС (руб.)</th>
                        <th>Цена розницы (руб.)</th>
                        <th>Рекомендуемая цена розницы (руб.)</th>
                        <th>Цена опта (руб.)</th>
                        <th>Рекомендуемая цена опта (руб.)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-class="{warning: item.is_change}" ng-repeat="item in model.items">
                        <td>
                            {{ item.full_name|angular }}
                        </td>
                        <td>
                            {{ item.NDS|angular }}
                        </td>
                        <td>
                            {{ item.price_prev|angular}}
                        </td>
                        <td>
                            {{ item.price_post|angular }}
                        </td>
                        <td>
                            <input ng-model="item.price_retail" class="input-small" type="text" placeholder="Цена">
                        </td>

                        <td>
                            {{ item.price_retail_recommendation|angular }}
                        </td>

                        <td>
                            <input ng-model="item.price_gross"
                                   class="input-small" type="text" placeholder="Цена">
                        </td>
                        <td>
                            {{ item.price_gross_recommendation|angular }}
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn" onclick="submitPrices({{ invoice_items|length }})">Сохранить</button>
    </div>

{% endblock %}

{% block tail %}

    {{ super() }}

    <script type="text/javascript">
        var INVOICE_ID = {{ invoice_id }};
    </script>

    {% assets "prices" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}