<div class="panel panel-default top-bar">
    <div class="panel-heading">
        <top-panel breadcrumbs="breadcrumbs">
            <div class="col-md-9">
                <a class="btn btn-danger btn-sm" href="/admin/acceptanceview/new" >Создать</a>
            </div>
        </top-panel>

    </div>

    <table-remote resource="resource" class="table table-bordered table-striped" handlerclkrow="select">
        <row r-repeat="item in $data" style="cursor: pointer">
            <column data-title="'Дата'" sortable="'date'">
                <span r-if="item.id == model.idSelected"><strong>{{item.date | date:'MMM d, y'}}</strong></span>
                <span r-if="item.id != model.idSelected">{{item.date| date:'MMM d, y'}}</span>
            </column>
            <column data-title="'Накладная'">
                <span r-if="item.id == model.idSelected"><strong>{{item.invoice_str}}</strong></span>
                <span r-if="item.id != model.idSelected">{{item.invoice_str}}</span>
            </column>

            <column data-title="'Отправитель'">
                <span r-if="item.id == model.idSelected"><strong>{{item.provider_name}}</strong></span>
                <span r-if="item.id != model.idSelected">{{item.provider_name}}</span>
            </column>
            <column data-title="'Получатель'">
                <span r-if="item.id == model.idSelected"><strong>{{item.pointsale_name}}</strong></span>
                <span r-if="item.id != model.idSelected">{{item.pointsale_name}}</span>
            </column>
        </row>
    </table-remote>
</div>