<form ng-submit="clbkclick(filter_text)">
    <div class="input-group stylish-input-group" style="background: white !important; ">
        <input type="text" class="form-control" ng-model="filter_text" style="border-right:0; box-shadow:0 0 0; border-color:#ccc;"  placeholder="{{ placeholder }}" >
        <span class="input-group-addon" style="background: none">
            <button type="submit" style="border:0; background:transparent;">
                <span class="fa fa-search"></span>
            </button>
        </span>
    </div>
</form>